* {
   font-family: "Source Sans Pro", Helvetica, sans-serif;
}


body {
   background: rgb(51,51,51);
   font-size: 200%;
   color: #fff;
   width: 80%;
   margin: auto;
   padding-top: 3rem;
   padding-bottom: 3rem;
}

html {
   font-size: 50%;
}

@media (min-width:20rem)  {
   html {
      font-size: 66%;
   }
}

@media (min-width:30rem)  {
   html {
      font-size: 100%;
   }
}

@media (min-width:45rem)  {
   html {
      font-size: 150%;
   }
}

@media (min-width:60rem)  {
   html {
      font-size: 160%;
   }
}



code {
  font-family: Consolas, Menlo, Monaco, monospace;
  margin: auto;
  width: auto;
  align-self: center;
}

pre {
   background: rgb(34,34,34);
   border-radius: 3px;
   padding: 1rem;
   display: inline-block;
   justify-content: center;
   /*max-width: 100%;*/
   float: unset;
   /*left: 50%;
   transform: translateX(50%);*/
}
